<h1>Music Search</h1>

<input type="search" [(ngModel)]="query" placeholder="Search albums" list="last-queries">
<datalist id="last-queries">
    @for (query of lastQueries(); track query) {
    <option [ngValue]="query">
        {{query}}
    </option>}
</datalist>
<button (click)="search()">
    Search
</button>

<hr>
@switch (loadingState()) {
@case (PageState.Loaded) {
@if (hasResults()) {
<div class="home-page-discs-placeholder">
    @for (disc of discs(); track disc.id) {
    <app-disc-item [disc]="disc"></app-disc-item>
    }
</div>
<p>
    <button (click)="previous()" [disabled]="hasPrevDisabled()">Previous</button>
    <button (click)="next()">Next</button>
</p>
}
}
@case (PageState.Error) { <p>Error occurred while loading discs.</p> }
@default {
<mat-spinner></mat-spinner>
}
}